/*------------------------------------*\

    @package kanderr
    KANDERR STYLESHEET

    1. INCLUDES
    2. HELPER CLASSES
    3. HTML5 TAGS
    4. GLOBAL
    5. HEADER
    6. FOOTER

\*------------------------------------*/
/*------------------------------------*\
    1. INCLUDES
\*------------------------------------*/
/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/*------------------------------------*\

    @package kanderr
    COLORS

\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i");
@keyframes loader-1 {
				0% {
								transform: translateX(0);
				}
				25% {
								transform: translateX(-75px);
				}
				50% {
								transform: translateX(-50px);
				}
				75% {
								transform: translateX(-25px);
				}
				100% {
								transform: translateX(0);
				}
}

@keyframes loader-2 {
				0% {
								transform: translateX(0);
				}
				25% {
								transform: translateX(75px);
				}
				50% {
								transform: translateX(50px);
				}
				75% {
								transform: translateX(25px);
				}
				100% {
								transform: translateX(0);
				}
}

@keyframes loader-logo {
				0% {
								transform: translate(-50%, -50%);
				}
				25% {
								transform: translate(-50%, -50%);
								height: 80px;
				}
				100% {
								transform: translate(-50%, -50%);
								height: 50px;
				}
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
				text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html, body {
				overflow-x: hidden;
}

body {
				font-family: 'Merriweather';
				font-size: 10pt;
				font-weight: 300;
				color: #010400;
				background-color: #bedf2c;
}

/* clear */
.clear:before,
.clear:after {
				content: ' ';
				display: table;
}

.clear:after {
				clear: both;
}

.clear {
				*zoom: 1;
}

img {
				max-width: 100%;
				vertical-align: bottom;
}

a {
				color: #010400;
				font-weight: 500;
				text-decoration: none;
}

a:hover, a:active {
				color: #FFFBFC;
				text-decoration: none;
}

a:focus {
				outline: 0;
}

a:hover,
a:active {
				outline: 0;
}

input:focus {
				outline: 0;
				border: 1px solid #04A4CC;
}

h1, h2, h3, h4, h5, h6 {
				font-family: 'Playfair Display';
				color: #010400;
}

h1 {
				display: block;
				font-size: 2em;
				margin-top: 0.67em;
				margin-bottom: 0.67em;
				margin-left: 0;
				margin-right: 0;
				font-weight: bold;
}

h2 {
				display: block;
				font-size: 1.5em;
				margin-top: 0.83em;
				margin-bottom: 0.83em;
				margin-left: 0;
				margin-right: 0;
				font-weight: bold;
}

h3 {
				display: block;
				font-size: 1.17em;
				margin-top: 1em;
				margin-bottom: 1em;
				margin-left: 0;
				margin-right: 0;
				font-weight: bold;
}

h4 {
				display: block;
				font-size: 1em;
				margin-top: 1.33em;
				margin-bottom: 1.33em;
				margin-left: 0;
				margin-right: 0;
				font-weight: bold;
}

h5 {
				display: block;
				font-size: .83em;
				margin-top: 1.67em;
				margin-bottom: 1.67em;
				margin-left: 0;
				margin-right: 0;
				font-weight: bold;
}

h6 {
				display: block;
				font-size: .67em;
				margin-top: 2.33em;
				margin-bottom: 2.33em;
				margin-left: 0;
				margin-right: 0;
				font-weight: bold;
}

main[role="main"] {
				background-color: #bedf2c;
				padding: 50px 0;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
				margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
				display: block;
				margin: 5px auto 5px auto;
}

.alignright {
				float: right;
				margin: 5px 0 20px 20px;
}

.alignleft {
				float: left;
				margin: 5px 20px 20px 0;
}

a img.alignright {
				float: right;
				margin: 5px 0 20px 20px;
}

a img.alignnone {
				margin: 5px 20px 20px 0;
}

a img.alignleft {
				float: left;
				margin: 5px 20px 20px 0;
}

a img.aligncenter {
				display: block;
				margin-left: auto;
				margin-right: auto;
}

.wp-caption {
				background: #FFF;
				border: 1px solid #F0F0F0;
				max-width: 96%;
				padding: 5px 3px 10px;
				text-align: center;
}

.wp-caption.alignnone {
				margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
				margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
				margin: 5px 0 20px 20px;
}

.wp-caption img {
				border: 0 none;
				height: auto;
				margin: 0;
				max-width: 98.5%;
				padding: 0;
				width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
				font-size: 11px;
				line-height: 17px;
				margin: 0;
				padding: 0 4px 5px;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
				background: #04A4CC;
				color: #FFF;
				text-shadow: none;
}

::-webkit-selection {
				background: #04A4CC;
				color: #FFF;
				text-shadow: none;
}

::-moz-selection {
				background: #04A4CC;
				color: #FFF;
				text-shadow: none;
}

.kanderr-btn {
				background: none;
				border: none;
				border-radius: 0;
				cursor: pointer;
				line-height: 1.5;
				font: 700 1em 'Montserrat';
				padding: 1em 2em;
				letter-spacing: 0.05rem;
				text-transform: uppercase;
				box-shadow: inset 0 0 0 2.5px #fff;
				color: #fff;
				transition: color 0.25s 0.08333s;
				position: relative;
}

.kanderr-btn::before, .kanderr-btn::after {
				border: 0 solid transparent;
				box-sizing: border-box;
				content: '';
				pointer-events: none;
				position: absolute;
				width: 0;
				height: 0;
				bottom: 0;
				right: 0;
}

.kanderr-btn::before {
				border-bottom-width: 2.5px;
				border-left-width: 2.5px;
}

.kanderr-btn::after {
				border-top-width: 2.5px;
				border-right-width: 2.5px;
}

.kanderr-btn:hover {
				color: #bedf2c;
}

.kanderr-btn:hover::before, .kanderr-btn:hover::after {
				border-color: #bedf2c;
				transition: border-color 0s, width 0.25s, height 0.25s;
				width: 100%;
				height: 100%;
}

.kanderr-btn:hover::before {
				transition-delay: 0s, 0s, 0.25s;
}

.kanderr-btn:hover::after {
				transition-delay: 0s, 0.25s, 0s;
}

.kanderr-btn:focus {
				outline: 2px dotted #55d7dc;
}

.shadowed {
				-webkit-filter: drop-shadow(2px 2px 5px #000);
				filter: drop-shadow(2px 2px 5px #000);
}

.theme-section {
				padding: 40px 20px;
}

.theme-section .theme-section-h1 {
				margin-bottom: 30px;
}

.theme-section p {
				font-size: 1em;
}

.theme-section-dark-fluid {
				padding: 40px 20px;
				background-color: #383838;
				color: #FFFBFC;
}

.theme-section-dark-fluid .theme-section-h1 {
				margin-bottom: 30px;
				color: #FFFBFC;
}

.theme-section-dark-fluid p {
				font-size: 1em;
}

.carousel-fade .carousel-item {
				opacity: 0;
				transition-duration: 1s;
				transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
				opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
				opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
				transform: translateX(0);
				transform: translate3d(0, 0, 0);
}

/*------------------------------------*\
    2. HELPER CLASSES
\*------------------------------------*/
.no-padding {
				padding: 0;
}

/*------------------------------------*\
    3. HTML5 TAGS
\*------------------------------------*/
/*------------------------------------*\
    4. GLOBAL
\*------------------------------------*/
#main {
				background-color: #bedf2c;
}

.carousel-control-next,
.carousel-control-prev {
				width: 10%;
				z-index: 5;
}

/*------------------------------------*\
    5. HEADER
\*------------------------------------*/
/*------------------------------------*\
    5. HEADER
\*------------------------------------*/
#preloader {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #bedf2c;
				z-index: 9999;
}

#preloader .preloader-container {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 100px;
				width: 200px;
}

#preloader .preloader-container #preloader-img-1,
#preloader .preloader-container #preloader-img-2,
#preloader .preloader-container #preloader-logo {
				position: absolute;
				width: auto;
}

#preloader .preloader-container #preloader-img-1 {
				height: 100px;
				top: 0;
				left: 0;
				animation: loader-1 2s infinite linear;
}

#preloader .preloader-container #preloader-img-2 {
				height: 100px;
				top: 0;
				right: 0;
				animation: loader-2 2s infinite linear;
}

#preloader .preloader-container #preloader-logo {
				height: 50px;
				top: 50%;
				left: 75%;
				transform: translate(-50%, -50%);
				animation: loader-logo 2s infinite linear;
}

#video-carousel {
				position: fixed;
				z-index: -2;
}

.view-kanderr {
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
}

.view-kanderr > video {
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, 0);
}

.header {
				position: relative;
				width: 100%;
				padding: 0;
				background-color: rgba(0, 0, 0, 0.5);
				display: flex;
				flex-wrap: wrap;
}

.header.header-front {
				height: 100vh;
				min-height: 500px;
				max-height: 720px;
}

.header > .navbar-container {
				width: 100%;
				height: 80px;
				align-self: flex-start;
				transition: 0.2s ease-in;
}

.header > .navbar-container.front {
				background-color: #383838;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.header > .navbar-container.scroll {
				position: fixed;
				top: 0;
				left: 0;
				background-color: #383838;
				z-index: 100;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.header > .navbar-container > .navbar {
				padding: 0;
				display: flex;
				justify-content: space-between;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar {
								max-width: inherit;
								padding: 0 20px;
								justify-content: flex-end;
				}
}

@media (min-width: 768px) and (max-width: 1023px) {
				.header > .navbar-container > .navbar {
								max-width: inherit;
								padding: 0 20px;
				}
}

.header > .navbar-container > .navbar .header-menu {
				height: 40px;
				line-height: 40px;
				align-self: center;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .header-menu {
								position: fixed;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								z-index: -1;
								background: #383838;
								opacity: 0;
								transition: all 0.2s ease;
				}
}

.header > .navbar-container > .navbar .header-menu > ul {
				padding: 0;
				margin: 0;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .header-menu > ul {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								width: 100%;
				}
}

.header > .navbar-container > .navbar .header-menu > ul > li {
				display: inline-block;
}

.header > .navbar-container > .navbar .header-menu > ul > li:not(last-child) {
				margin-right: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
				.header > .navbar-container > .navbar .header-menu > ul > li:not(last-child) {
								margin-right: 20px;
				}
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .header-menu > ul > li {
								display: block;
								width: 100%;
								text-align: center;
								margin: 0;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(1) a {
								transition-delay: 0.1s;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(2) a {
								transition-delay: 0.2s;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(3) a {
								transition-delay: 0.3s;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(4) a {
								transition-delay: 0.4s;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(5) a {
								transition-delay: 0.5s;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(6) a {
								transition-delay: 0.6s;
				}
				.header > .navbar-container > .navbar .header-menu > ul > li:nth-child(7) a {
								transition-delay: 0.7s;
				}
}

.header > .navbar-container > .navbar .header-menu > ul > li > a {
				display: block;
				position: relative;
				font-family: 'Montserrat';
				font-weight: 500;
				font-size: 1.2em;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				text-shadow: 2px 2px 5px #000;
				color: #bedf2c;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .header-menu > ul > li > a {
								opacity: 0;
								transition: all 0.2s ease;
				}
}

@media (min-width: 768px) and (max-width: 1023px) {
				.header > .navbar-container > .navbar .header-menu > ul > li > a {
								letter-spacing: 0.1em;
								margin-right: -0.2em;
				}
}

.header > .navbar-container > .navbar .header-menu > ul > li > a .text {
				display: block;
				transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
				margin-right: -0.2em;
}

.header > .navbar-container > .navbar .header-menu > ul > li > a .line {
				position: absolute;
				background: #bedf2c;
				box-shadow: 2px 2px 5px #000;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .header-menu > ul > li > a .line {
								display: none;
				}
}

.header > .navbar-container > .navbar .header-menu > ul > li > a .line.-top {
				transform: scale3d(0, 1, 1);
				bottom: -2.5px;
				left: -2.5px;
				right: -2.5px;
				height: 2.5px;
				transition: transform 0.08s linear 0.43s;
				transform-origin: left;
}

.header > .navbar-container > .navbar .header-menu > ul > li > a .line.-bottom {
				transform: scale3d(0, 1, 1);
				top: -2.5px;
				left: -2.5px;
				right: -2.5px;
				height: 2.5px;
				transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
				transform-origin: right;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .header-menu > ul > li > a:hover,
				.header > .navbar-container > .navbar .header-menu > ul > li > a:active {
								color: #fff;
				}
}

.header > .navbar-container > .navbar .header-menu > ul > li > a:hover .text,
.header > .navbar-container > .navbar .header-menu > ul > li > a:active .text {
				transform: translate3d(0, 0, 0);
				transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.header > .navbar-container > .navbar .header-menu > ul > li > a:hover .line,
.header > .navbar-container > .navbar .header-menu > ul > li > a:active .line {
				transform: scale3d(1, 1, 1);
}

.header > .navbar-container > .navbar .header-menu > ul > li > a:hover .line.-top,
.header > .navbar-container > .navbar .header-menu > ul > li > a:active .line.-top {
				transition: transform 0.08s linear 0.4s;
				transform-origin: right;
}

.header > .navbar-container > .navbar .header-menu > ul > li > a:hover .line.-bottom,
.header > .navbar-container > .navbar .header-menu > ul > li > a:active .line.-bottom {
				transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
				transform-origin: left;
}

.header > .navbar-container > .navbar .logo {
				order: 3;
				height: 80px;
				padding: 15px 0;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .logo {
								padding: 15px 0;
				}
}

.header > .navbar-container > .navbar .logo img {
				height: 100%;
				width: auto;
}

.header > .navbar-container > .navbar .nav-toggler {
				position: fixed;
				top: 29px;
				left: 20px;
				cursor: pointer;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .nav-toggler {
								display: block;
								width: 30px;
								height: 30px;
								cursor: pointer;
								z-index: 9999;
								border-radius: 50%;
								margin: 0;
				}
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .navbar-container > .navbar .nav-toggler > i {
								display: block;
								width: 30px;
								height: 2px;
								background: #fff;
								box-shadow: 0 0 5px #000;
				}
				.header > .navbar-container > .navbar .nav-toggler > i:nth-child(2) {
								margin-top: 8px;
								opacity: 1;
				}
				.header > .navbar-container > .navbar .nav-toggler > i:nth-child(3) {
								margin-top: 8px;
				}
}

.header > .navbar-container > .navbar #nav:checked + .nav-toggler {
				transform: rotate(45deg) translate(-2px, -2px);
}

.header > .navbar-container > .navbar #nav:checked + .nav-toggler i {
				background: #fff;
				transition: transform 0.2s ease;
}

.header > .navbar-container > .navbar #nav:checked + .nav-toggler i:nth-child(1) {
				transform: translateY(14px) rotate(180deg);
}

.header > .navbar-container > .navbar #nav:checked + .nav-toggler i:nth-child(2) {
				opacity: 0;
}

.header > .navbar-container > .navbar #nav:checked + .nav-toggler i:nth-child(3) {
				transform: translateY(-6px) rotate(90deg);
}

.header > .navbar-container > .navbar #nav:checked ~ .header-menu {
				z-index: 9990;
				opacity: 1;
}

.header > .navbar-container > .navbar #nav:checked ~ .header-menu ul li a {
				opacity: 1;
}

.header > .kanderr-captions-container {
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
}

.header > .kanderr-captions-container .kanderr-captions {
				display: flex;
				justify-content: flex-end;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .kanderr-captions-container .kanderr-captions {
								justify-content: center;
				}
}

@media (min-width: 768px) {
				.header > .kanderr-captions-container .kanderr-captions {
								max-width: 80%;
				}
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions {
				width: 100%;
				height: 50vh;
				min-height: 300px;
				position: relative;
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption {
				position: absolute;
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				visibility: hidden;
				opacity: 0;
				transform: translateX(50px);
				transition: all 0.5s ease;
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption.active {
				visibility: visible;
				opacity: 1;
				transform: translateX(0);
				transition-delay: 0.3s;
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption.past {
				visibility: hidden;
				opacity: 0;
				transform: translateX(-100px);
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				flex-wrap: wrap;
}

@media (min-width: 768px) {
				.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated {
								align-items: flex-end;
				}
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated h3 {
				font-family: 'Playfair Display';
				font-weight: 700;
				font-size: 3em;
				color: #bedf2c;
				text-shadow: 2px 2px 5px #000;
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated p {
				font-family: 'Montserrat';
				font-weight: 500;
				text-align: right;
				width: 50%;
				text-shadow: 2px 2px 5px #000;
				margin: 0;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated p {
								text-align: center;
								width: 80%;
								margin: 0 auto;
				}
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated .carousel-caption-director {
				font-size: 1.5em;
}

.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated .carousel-caption-excerpt {
				margin-top: 20px;
				font-size: 1.2em;
}

@media (min-width: 0) and (max-width: 767px) {
				.header > .kanderr-captions-container .kanderr-captions #carousel-captions .carousel-caption .animated button {
								width: inherit;
								margin: 0 auto;
				}
}

.header .carousel-indicators {
				z-index: 5;
}

.header .carousel-indicators li {
				background-color: #fff;
				transition: all 0.3s linear;
}

.header .carousel-indicators li.active {
				background-color: #bedf2c;
}

.header .carousel-control-prev .fas {
				color: #fff;
}

.header .fas.fa-chevron-left,
.header .fas.fa-chevron-right {
				font-size: 30px;
				color: #fff;
}

.header .fas.fa-chevron-left:hover, .header .fas.fa-chevron-left:active,
.header .fas.fa-chevron-right:hover,
.header .fas.fa-chevron-right:active {
				color: #bedf2c;
}

/*------------------------------------*\
    5. TEMPLATES
\*------------------------------------*/
.single .single-title {
				font-size: 3em;
				font-weight: 700;
				margin-bottom: 50px;
}

.single .single-team-tags {
				display: block;
				margin-bottom: 30px;
}

.single .single-content {
				font-size: 1.2em;
}

@media (min-width: 0) and (max-width: 767px) {
				.single .single-content {
								font-size: 1.2em;
				}
}

.single .single-content .embed-16by9 {
				position: relative;
				width: 100%;
				padding-bottom: 56.25%;
				/* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
				height: 0;
				overflow: hidden;
				margin: 30px 0;
}

.single .single-content .embed-16by9 iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
}

/*------------------------------------*\
    6. FOOTER
\*------------------------------------*/
.footer {
				background-color: #383838;
}

.footer .footer-inner {
				padding-top: 50px;
				padding-bottom: 30px;
				margin: 0 auto;
				color: #fff;
				font-family: 'Merriweather';
}

.footer .footer-inner h3 {
				color: #FFFBFC;
				margin-bottom: 20px;
}

.footer .footer-inner .kanderr-copy {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: space-between;
}

@media (min-width: 0) and (max-width: 767px) {
				.footer .footer-inner .kanderr-copy {
								margin-top: 50px;
								align-items: center;
				}
}

.footer .footer-inner .kanderr-copy .kanderr-footer {
				display: block;
				width: 100%;
				height: 200px;
				background-image: url("../img/kanderr-footer.png");
				background-position: right top;
				background-repeat: no-repeat;
				background-size: contain;
}

@media (min-width: 0) and (max-width: 767px) {
				.footer .footer-inner .kanderr-copy .kanderr-footer {
								background-position: center top;
				}
}

.footer .footer-inner .kanderr-copy .copyright {
				display: block;
				margin: 0;
				width: 100%;
				padding: 0;
				font-size: 12px;
				text-align: right;
				margin-right: 30px;
}

@media (min-width: 0) and (max-width: 767px) {
				.footer .footer-inner .kanderr-copy .copyright {
								text-align: center;
								margin-right: 0;
				}
}

.footer .footer-inner .kanderr-copy .copyright a {
				color: #bedf2c;
}

.footer .footer-inner .kanderr-copy .copyright a:hover {
				color: #fff;
}

.footer .footer-inner .col-md-4 {
				min-height: 300px;
				margin-bottom: 50px;
}

.footer .footer-inner .form-group {
				margin: 0;
}

.footer .footer-inner .form-control {
				background-color: inherit;
				border: none;
				border-bottom: 2px solid #bedf2c;
				font-size: 16px;
				color: #fff;
}

.footer .footer-inner .form-control:focus, .footer .footer-inner .form-control:active {
				box-shadow: 0 0 5px #383838;
				border-bottom: 2px solid #fff;
				color: #fff;
}

.footer .footer-inner .form-control:-webkit-autofill, .footer .footer-inner .form-control:-webkit-autofill:hover, .footer .footer-inner .form-control:-webkit-autofill:focus, .footer .footer-inner .form-control:-webkit-autofill:active {
				-webkit-box-shadow: 0 0 0 30px #383838 inset;
				-webkit-text-fill-color: #fff !important;
}

.footer .footer-inner .form-control::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #ccc;
				opacity: 1;
				/* Firefox */
}

.footer .footer-inner .form-control:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: #ccc;
}

.footer .footer-inner .form-control::-ms-input-placeholder {
				/* Microsoft Edge */
				color: #ccc;
}

.footer .footer-inner .btn {
				display: inline-block;
}

.footer .footer-inner textarea {
				height: 100px;
				resize: none;
				/* Let's get this party started */
}

.footer .footer-inner textarea::-webkit-scrollbar {
				width: 10px;
}

.footer .footer-inner textarea::-webkit-scrollbar-track {
				-webkit-border-radius: 0;
				border-radius: 0;
}

.footer .footer-inner textarea::-webkit-scrollbar-thumb {
				-webkit-border-radius: 0;
				border-radius: 0;
				background: #bedf2c;
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.footer .footer-inner textarea::-webkit-scrollbar-thumb:window-inactive {
				background: #bedf2c;
				opacity: 0.4;
}

.footer .footer-inner .form-control-msg {
				display: none;
				font-size: 12px;
}

.footer .footer-inner .no-error {
				opacity: 0;
				font-size: 12px;
				padding-left: 8px;
}

.footer .footer-inner .has-error .no-error {
				opacity: 1;
}

.footer .footer-inner .js-show-feedback {
				display: block;
}

.footer .footer-inner .col-xs-3,
.footer .footer-inner .col-xs-9 {
				padding-left: 15px;
				padding-right: 15px;
}

.footer .footer-inner .col-xs-9 {
				max-width: 65%;
}

.footer .footer-inner .social-bar {
				list-style: none;
				padding: 0;
}

.footer .footer-inner .social-bar li {
				display: inline-block;
				margin-right: 15px;
}

.footer .footer-inner .social-bar li a {
				font-size: 30px;
				color: #bedf2c;
}

.footer .footer-inner .social-bar li:hover .fa-facebook,
.footer .footer-inner .social-bar li:active .fa-facebook {
				color: #3b5998;
}

.footer .footer-inner .social-bar li:hover .fa-vimeo,
.footer .footer-inner .social-bar li:active .fa-vimeo {
				color: #15323D;
}

.footer .footer-inner .social-bar li:hover .fa-instagram,
.footer .footer-inner .social-bar li:active .fa-instagram {
				color: #cd486b;
}

.footer .footer-inner .social-bar li:hover .fa-youtube,
.footer .footer-inner .social-bar li:active .fa-youtube {
				color: #ff0000;
}

.footer .footer-inner .footer-menu {
				margin-bottom: 30px;
}

.footer .footer-inner .footer-menu ul {
				list-style: none;
				padding: 0;
}

.footer .footer-inner .footer-menu ul li a {
				font-size: 15px;
				color: #bedf2c;
}

.footer .footer-inner .footer-menu ul li a:hover, .footer .footer-inner .footer-menu ul li a:active {
				color: #fff;
				text-decoration: none;
}

.comments ul {
				width: 100%;
				list-style-type: none;
}

.comments ul li {
				padding: 40px 0;
}

.comments ul li .comment-body {
				display: flex;
				flex-wrap: wrap;
}

.comments ul li .comment-body .comment-avatar {
				width: 100px;
}

.comments ul li .comment-body .comment-avatar img {
				border-radius: 50%;
				width: 100%;
				height: auto;
}

.comments ul li .comment-body .comment-right {
				padding-left: 30px;
				width: 88%;
				font-family: 'Monsterrat';
				font-size: 1.2em;
}

.comments ul li .comment-body .comment-right .comment-meta {
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;
				font-weight: 700;
}

.comments ul li .comment-body .comment-right .comment-meta .comment-control {
				display: flex;
				flex-wrap: wrap;
}

.comments ul li .comment-body .comment-right .comment-meta .comment-control .comment-datetime {
				display: flex;
				flex-wrap: wrap;
}

.comments ul li .comment-body .comment-right .comment-meta .comment-control .comment-datetime .comment-date {
				margin-right: 10px;
}

.comments ul li .comment-body .comment-right .comment-meta .comment-control .comment-datetime .comment-time {
				margin-right: 20px;
}

.comments ul li .comment-body .comment-right .comment-meta .comment-control .comment-reply {
				margin-right: 20px;
}

.comments > ul {
				padding: 0;
}

#about {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
}

#about .about-left {
				width: 45%;
				display: flex;
				justify-content: space-around;
				align-items: flex-start;
				flex-direction: column;
}

@media (min-width: 0) and (max-width: 767px) {
				#about .about-left {
								width: 100%;
				}
}

#about .about-left p {
				font-size: 1.2em;
}

#about .about-left .about-social ul {
				list-style-type: none;
				padding: 0;
				height: 50px;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				align-items: center;
}

#about .about-left .about-social ul li {
				display: inline-block;
				width: 50px;
}

#about .about-left .about-social ul li a {
				font-size: 2em;
				transition: all 0.3 linear;
				text-align: center;
				display: block;
				margin: 0 auto;
}

#about .about-left .about-social ul li a .fa-facebook {
				color: #3b5998;
}

#about .about-left .about-social ul li a .fa-vimeo {
				color: #15323D;
}

#about .about-left .about-social ul li a .fa-instagram {
				color: #cd486b;
}

#about .about-left .about-social ul li a .fa-youtube {
				color: #ff0000;
}

#about .about-left .about-social ul li a:hover, #about .about-left .about-social ul li a:active {
				font-size: 2.5em;
}

#about .about-right {
				width: 45%;
				display: flex;
				align-items: flex-end;
				flex-direction: column;
}

@media (min-width: 0) and (max-width: 767px) {
				#about .about-right {
								width: 100%;
								align-items: center;
				}
}

#about .about-right .about-logo {
				width: 150px;
				height: 300px;
				background-image: url("../img/preloader-img-1.png");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				transform: scaleX(-1);
}

@media (min-width: 0) and (max-width: 767px) {
				#about .about-right .about-logo {
								transform: rotate(-90deg);
				}
}

#team {
				display: flex;
				align-items: center;
}

#team .team-container {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
}

#team .team-container .team-member {
				position: relative;
				width: calc((100%/3) - 81px);
				height: 300px;
				margin: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
				#team .team-container .team-member {
								width: calc((100%/2) - 80px);
				}
}

@media (min-width: 0) and (max-width: 767px) {
				#team .team-container .team-member {
								width: 100%;
				}
}

#team .team-container .team-member .team-member-container {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
}

#team .team-container .team-member .team-member-container img {
				flex-shrink: 0;
				min-width: 100%;
				min-height: 100%;
				max-width: 200%;
}

#team .team-container .team-member .team-member-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
				transition: all 0.3s ease;
}

#team .team-container .team-member .team-member-overlay:hover {
				background: rgba(0, 0, 0, 0.5);
}

#team .team-container .team-member .team-member-overlay:hover h4 {
				transform: translate(-50%, -80%);
				opacity: 1;
}

#team .team-container .team-member .team-member-overlay:hover .team-member-role {
				transform: translate(-50%, -80%);
				opacity: 1;
}

#team .team-container .team-member .team-member-overlay h4 {
				font-family: 'Playfair Display';
				font-weight: 500;
				font-size: 1.5em;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all 0.3s ease-in;
				margin: 0;
				text-shadow: 2px 2px 5px #000;
}

#team .team-container .team-member .team-member-overlay h4 a {
				color: #FFFBFC;
}

#team .team-container .team-member .team-member-overlay .team-member-role {
				position: absolute;
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all 0.3s ease-in;
				color: #FFFBFC;
				font-family: 'Montserrat';
				font-size: 1em;
				text-shadow: 2px 2px 5px #000;
}

#team .team-container .team-member .team-member-overlay .team-member-role a {
				color: #FFFBFC;
}

#team .team-container .team-member:hover:before {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				top: -30px;
				left: -30px;
				border-top: 2.5px solid #000;
				border-left: 2.5px solid #000;
}

#team .team-container .team-member:hover:after {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				top: -30px;
				right: -30px;
				border-top: 2.5px solid #000;
				border-right: 2.5px solid #000;
}

#team .team-container .team-member:hover .team-member-container:before {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				bottom: -30px;
				left: -30px;
				border-bottom: 2.5px solid #000;
				border-left: 2.5px solid #000;
}

#team .team-container .team-member:hover .team-member-container:after {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				bottom: -30px;
				right: -30px;
				border-bottom: 2.5px solid #000;
				border-right: 2.5px solid #000;
}

#team .team-container .team-member:before {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				top: -10px;
				left: -10px;
				border-top: 2.5px solid #000;
				border-left: 2.5px solid #000;
				transition: all 0.3s ease;
}

#team .team-container .team-member:after {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				top: -10px;
				right: -10px;
				border-top: 2.5px solid #000;
				border-right: 2.5px solid #000;
				transition: all 0.3s ease;
}

#team .team-container .team-member .team-member-container:before {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				bottom: -10px;
				left: -10px;
				border-bottom: 2.5px solid #000;
				border-left: 2.5px solid #000;
				transition: all 0.3s ease;
}

#team .team-container .team-member .team-member-container:after {
				display: block;
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				bottom: -10px;
				right: -10px;
				border-bottom: 2.5px solid #000;
				border-right: 2.5px solid #000;
				transition: all 0.3s ease;
}

#recent-films .recent-films-container {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
}

#recent-films .recent-films-container .recent-film {
				position: relative;
				width: calc((100%/3) - 20px);
				height: 300px;
				margin: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
				#recent-films .recent-films-container .recent-film {
								width: calc((100%/2) - 20px);
				}
}

@media (min-width: 0) and (max-width: 767px) {
				#recent-films .recent-films-container .recent-film {
								width: 100%;
				}
}

#recent-films .recent-films-container .recent-film .recent-film-thumbnail {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
}

#recent-films .recent-films-container .recent-film .recent-film-thumbnail img {
				flex-shrink: 0;
				min-width: 100%;
				min-height: 100%;
				max-width: 200%;
}

#recent-films .recent-films-container .recent-film .recent-film-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
				transition: all 0.3s ease;
}

#recent-films .recent-films-container .recent-film .recent-film-overlay:hover {
				background: rgba(0, 0, 0, 0.5);
}
