/*------------------------------------*\

    @package kanderr
    COLORS

\*------------------------------------*/

$primary: #bedf2c;
$secondary: '';
$neutral: #383838;

$regBlack: #010400;
$jet: #30332E;
$snow: #FFFBFC;

$facebook: #3b5998;
$twitter: #00A3F3;
$instagram: #cd486b;
$youtube: #ff0000;
$vimeo: #15323D;
